body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.bg__header {
  background-image: url("/sources/img/header_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  height: 100vh;
  position: relative;
}

.header__text img {
  height: 150px;
}
.header__text {
  position: absolute;
  top: 25%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #a20606;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.8);
}
.logo__letter {
  font-weight: bold;
  font-size: 45px;
  margin: 0;
}
nav ul {
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  background-color: rgb(57, 57, 57);
  color: #fff;
  padding: 20px 0 25px 0;
}

nav ul li {
  list-style: none;
  margin: 0 20px 0 20px;
}
.aboutus__container {
  height: 100vh;
}
.aboutus__container h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
.aboutus__container .about__text {
  font-size: 20px;
}

.aboutus__container .header__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.profile__container .profile__img img {
  height: 300px;
}
.profile__container {
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.profile {
  margin: 20px;
  background-color: rgb(240, 240, 240);
}
.profile__info {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 0 20px 0;
}
.profile__info p {
  margin: 0;
  margin-top: 10px;
}
.profile__info .name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(125, 125, 125);
}

.profile__info .position {
  font-size: 16px;
  color: rgb(135, 135, 135);
}

.services__container {
  height: 100vh;
  background-color: #f3f4f8;
}
.services__text {
  text-align: center;
}
.services__text h3 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
}
.services__text p {
  width: 30%;
  font-size: 20px;
  margin: auto;
}
.services__list {
  display: flex;
}
.division__line {
  margin-top: 25px;
  width: 10%;
  border-top: 2px solid rgb(0, 0, 0, 0.3);
}
.list__item {
  width: 25%;
  text-align: justify;
  padding: 50px 20px 0 20px;
}
.services__list .item__title span {
  font-size: 80px;
  color: #9a9a9a;
}
.services__list .item__title {
  color: #535353;
  margin: 5px 0 5px 0;
  font-weight: bold;
  font-size: 40px;
}
.item__subtitle {
  color: #9a9a9a;
  font-size: 18px;
}

.mastery__container {
  height: 100vh;
}
.mastery__container h3 {
  color: #7e7e7e;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
}
.progress__container {
  width: 50%;
  padding: 0 70px 0 70px;
}
.progress__item {
  position: relative;
  margin-bottom: 20px;
}
.progress__title {
  position: relative;
  font-size: 40px;
  margin: 0;
  padding-bottom: 25px;
  color: #7e7e7e;
}
.progress__text {
  position: absolute;
  font-size: 20px;
  padding: 0 5px 0 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  color: white;
  right: 0;
  bottom: 25px;
}
.progress__bar {
  box-shadow: inset 0 0 5px #cccccc;
  border-radius: 8px;
  width: 100%;
}
.progress__percent {
  content: "";
  height: 20px;
  border-radius: 8px;
}

.demo__container {
  height: 100vh;
  background-color: #f3f4f8;
}
.demo__text {
  text-align: center;
}
.demo__text h3 {
  color: #7e7e7e;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
}
.demo__text p {
  color: #9a9a9a;
  font-size: 18px;
  width: 30%;
  margin: auto;
}
.demo__gallery {
  width: 65%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.gallery__item {
  position: relative;
  overflow: hidden;
  background-color: #cca328;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s;
}
.gallery__item:hover img {
  transform: translateX(110%);
  transition: transform 0.5s;
}

.item__back {
  margin: 2em;
  width: 78%;
  position: absolute;
  top: 0;
  opacity: 0;
}
.gallery__item:hover .item__back {
  opacity: 1;
  transition: opacity 0.1s;
}

.item__title {
  color: white;
  font-size: 1.3em;
}

.item__text {
  color: white;
  font-size: 0.9em;
}
